#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Focus Meet
Exec=/home/hchinchilla/dotfiles/scripts/focus-meet.sh
