#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Reset Webcam (Focus Webcam)
Exec=/home/hchinchilla/dotfiles/scripts/reset-webcam.sh
