alias ll="ls -lh"
alias lla="ls -lha"

# ssh aliases
alias ssh-password='ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no'

# system command aliases
alias mkdir='mkdir -p'
alias grep='grep --color=tty'
alias egrep='egrep --color=tty'

# custom aliases
alias sudo="sudo -E" # preserve environment by default
alias prettylog="awk '{ gsub(/\\\"/,\"\",\$7); printf \"%-16s %s]  %-4s  %s  %-8s  %s\n\", \$2,\$5,\$7,\$10,\$11,\$8}'"
alias proxyssh="ssh -N -D 0.0.0.0:12345 $1"
alias star_treck="play -c2 -n synth whitenoise band -n 100 24 band -n 300 100 gain +20"
alias nap_noise="play -t sl -r48000 -c2 - synth -1 pinknoise tremolo .1 40 <  /dev/zero"
alias updick='/usr/bin/uptime | perl -ne "/(\d+) d/;print 8,q(=)x\$1,\"D\n\""'
alias brightness="xrandr --output DVI-I-1 --brightness $1"
alias vi="vim"
alias resource="source ~/.zshrc"
alias todo="vim ~/TODO"
alias htop="TERM=screen htop"
alias mysqlps="watch -n0,2 \"mysql -e 'show processlist'\""
alias xclip="xclip -selection clipboard"

# Vagrant
alias vssh="vagrant ssh"
alias vs="vssh"
alias vup="vagrant up"
alias vst="vagrant status"

# Git
alias git="LANGUAGE=C LC_ALL=en_US.utf-8 git"
alias got="git "
alias gp="git pull --rebase"
alias gps="git push"
alias gs="git status"
alias gd="git diff"
alias grc="git rebase --continue"
alias grs="git rebase --skip"
alias gra="git rebase --abort"
alias ga="git commit --amend"

alias gg="git gg 2> /dev/null || git grep -in"

# parses output from git grep and opens files on sublime
function gosub(){ 
      awk '{print $1}' | sed 's/:$//' | xargs subl
}

function gitfiles(){
    awk '{print $1}' | cut -d':' -f1 | sort | uniq
}

# Add an "alert" alias for long running commands. Use like so:
# sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# alias codemod if exists
if [ -f ~/projects/codemod/src/codemod.py ]; then
    alias codemod="python ~/projects/codemod/src/codemod.py"
fi

# Work aliases
alias hab="cd $HOME/projects/habitissimo"
alias cc="hab && rm -rf cache/* && notify-send -i edit-clear \"symfony cache cleared\""
alias vag="cd $HOME/projects/vagrantfiles"
alias habshell="hab && phpsh symfony-interactive.php"
alias runworker="hab && php symfony worker:run"
alias runworker-email="hab && php symfony worker:run SendMailWorkerThread --env=dev"
alias runworker-function="hab && php symfony worker:run FunctionWorkerThread --env=dev"
alias sqlyog="wine .wine/drive_c/Program\ Files\ \(x86\)/SQLyog/SQLyog.exe"
alias mytop="watch -n 0,2 'mysql -uroot -px2kh5424 -e \"show processlist\"'"
alias adsl="sudo ip ro del default && sudo ip ro add default via 192.168.1.8 dev eth0 && ip ro"
alias fibber="sudo ip ro del default && sudo ip ro add default via 192.168.1.4 dev eth0 && ip ro"
alias pu="docker-compose run --no-deps --rm phpunit"
alias habsql='`fab db.shell:es,hugo`'
alias habdb='habsql'

function gateway(){
  if [ -z "$1" ]; then
    echo "Missing parameter"
    return 1
  fi
  sudo ip ro del default
  sudo ip ro add default via 192.168.1.$1 dev eth0
  ip ro
}

function ban_ip() {
    iptables -A INPUT -s $1 -j DROP
}

# Docker compose

alias dnotify="notify-send -i /home/hchinchilla/Imágenes/logos/docker.png"
alias dkill="docker-compose kill"
alias dstop="docker-compose stop"
alias drm="docker-compose rm -f"
alias dps="docker-compose ps"
alias dlogs="docker-compose logs -f -t --tail=1000"
alias dl="dlogs"
alias drun="docker-compose run --rm"

function dup() {
    docker-compose up -d $@
}

function drestart() {
    dstop $@
    drm $@
    dup $@
    dnotify "Docker-compose restarted"
}

function dbash() {
    local CONTAINER_NAME=$1
    local COMPOSE_CONTAINER=`dps 2> /dev/null | awk '{print $1}' | grep $1`

    if [ -n "$COMPOSE_CONTAINER" ]; then
        local CONTAINER_NAME=$COMPOSE_CONTAINER
    fi

    docker exec -it $CONTAINER_NAME bash -c "TERM=xterm bash"
}

function migrate() {
    hab
    drun --no-deps symfony propel:migrate
    mpg123 web/audio/migration.mp3 &> /dev/null
}
