# vim: filetype=sh

export EDITOR=vim
#export TERM=xterm
export TERM=xterm-256color

export HABITISSIMO_SITE_ID="habitissimo_es"
export CHURROSITES_SITE_ID="reformabarcelona"

# Pure prompt options
PURE_GIT_UNTRACKED_DIRTY=0

# History config
HISTFILE=~/.history
HISTSIZE=10000
SAVEHIST=30000

# set PATH so it includes user's private bin if it exists
if [[ -d "$HOME/.bin" ]] ; then
  export PATH="$HOME/.bin:$PATH"
fi

# RVM setup
if [[ -s "$HOME/.rvm/scripts/rvm" ]]; then
  source "$HOME/.rvm/scripts/rvm"
  export PATH="$PATH:$HOME/.rvm/bin"
fi

# Node global install without sudo
if [[ -d "$HOME/.npm-packages" ]] ; then
  export NPM_PACKAGES="$HOME/.npm-packages"
  export NODE_PATH="$NODE_PATH:$NPM_PACKAGES/lib/node_modules"
  export PATH="$PATH:$NPM_PACKAGES/bin"
fi

# Include composer packages in the path
if [[ -d "$HOME/.composer/vendor/bin" ]] ; then
  export PATH="$PATH:$HOME/.composer/vendor/bin"
fi

if [[ -f "$HOME/projects/stderred/build/libstderred.so" ]] ; then
  export LD_PRELOAD="$HOME/projects/stderred/build/libstderred.so${LD_PRELOAD:+:$LD_PRELOAD}"
fi
