# non-dot files
/[^.]*
!/bin

# ZSH junk
/.zcompdump*
/.zsh-update
/.oh-my-zsh

# Python virtual envs
/.virtualenvs

# Ruby virtual envs
/.rvm

# History files
/.*history

# Dotfiles
.AfterShotPro/
.FreeCAD/
.ICEauthority
.VirtualBox/
.Xauthority
.android/
.arduino/
.atom/
.avidemux/
.bash_logout
.bin/
.btsyncrc
.cache/
.calibre_calibre GUI.lock
.clamtk/
.codeintel/
.compiz/
.config/
.dbus/
.dmenu_cache
.dmrc
.flowblade/
.fonts/
.gconf/
.gem/
.gimp-2.8/
.gnome/
.gnupg/
.gstreamer-0.10/
.icons/
.ipython/
.irssi/
.java/
.jsonresume.json
.kde/
.lesshst
.local/
.local_aliases
.macromedia/
.matplotlib/
.meteor/
.meteorite/
.meteorsession
.mono/
.mozilla/
.node-gyp/
.noiseninja/
.npm/
.nv/
.nvidia-settings-rc
.openshot/
.openvpn/
.pip/
.pki/
.profile
.pulse-cookie
.slocdata/
.ssh
.steam/
.steampath
.steampid
.sync/
.telegram/
.thumbnails/
.thunderbird/
.vagrant.d/
.vim/
.viminfo
.wine/
.xsession-errors
.xsession-errors.old
.zcompcache/
.zlogin
.zlogout
.zprezto/
.zpreztorc
.zprofile
.zsh.prompts/
.zshenv
