# non-dot files
/[^.]*
!/bin

# ZSH junk
/.zcompdump*
/.zsh-update
/.oh-my-zsh

# Python virtual envs
/.virtualenvs

# Ruby virtual envs
/.rvm

# History files
/.*history

# Dotfiles
.:10-fakexinerama
.:101-fakexinerama
.AfterShotPro/
.android/
.ansible_galaxy
.arduino/
.arduino15/
.atom/
.avidemux/
.aws/
.bash_logout
.bash_profile
.bin/
.btsyncrc
.byobu/
.cache/
.calibre_calibre GUI.lock
.clamtk/
.codeintel/
.compiz/
.composer/
.config/
.cura/
.dbus/
.dmenu_cache
.dmrc
.docker/
.dockercfg
.editrc
.ecs/
.fakexinerama
.flowblade/
.fonts/
.FreeCAD/
.gconf/
.gem/
.gimp-2.8/
.gksu.lock
.gnome/
.gnupg/
.gns3/
.gstreamer-0.10/
.hhvm.hhbc
.ICEauthority
.icons/
.ipython/
.irssi/
.java/
.jssc/
.jsonresume.json
.kde/
.lesshst
.linphone-history.db
.linphonerc
.local/
.local_aliases
.m2/
.macromedia/
.matplotlib/
.meteor/
.meteorite/
.meteorsession
.mongorc.js
.mono/
.mozilla/
.mplayer/
.my.cnf
.mysql/
.node-gyp/
.ngrok
.ngrok2/
.noiseninja/
.npm-packages/
.npm/
.npmrc
.nv/
.nvidia-settings-rc
.oauthconfig
.openshot/
.openvpn/
.password-store/
.pdepend/
.phpsh/
.pip/
.pki/
.profile
.pulse-cookie
.pulse/
.purple/
.python-eggs/
.pypirc
.rnd
.recently-used
.s3cfg
.shrc
.slaprc
.slocdata/
.snmpb/
.ssh
.steam/
.steampath
.steampid
.subversion/
.sync/
.telegram/
.thumbnails/
.thunderbird/
.tutum
.vagrant.d/
.vim/
.viminfo
.VirtualBox/
.w3m/
.wegorc
.wireshark/
.wine/
.Xauthority
.xpra/
.xsession-errors
.xsession-errors.old
.yate/
.yasat/
.yolk/
.zcompcache/
.zlogin
.zlogout
.zprezto/
.zpreztorc
.zprofile
.zsh.prompts/
.zshenv
