/* Remove rounded corners */
.titlebar,
.titlebar .background,
decoration,
window,
window.background
{
    border-radius: 0;
    border: 2px solid #6272A4;
}

/* Remove csd shadows */
decoration, decoration:backdrop
{
    box-shadow: none;
}


